[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "miRSM"]
	path = miRSM
	url = https://github.com/zhangjunpeng411/mirsm
[submodule "miRspongeR"]
	path = miRspongeR
	url = https://github.com/zhangjunpeng411/mirsponger
